lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/

node_modules/
src/app/vendor
src/app/themes
build/

pids
logs
results

npm-debug.log

app.nw

.sass-cache
*-ck.js
*.srt
*.DS_Store

# vim swap files
*.swp

src/app/css/app.css
*.sublime-*
dist/windows/*.exe
dist/linux/linux-installer
*.bat
*.db
*git.json

src/app/templates/player.tpl

src/app/templates/settings-container.tpl

src/app/updater.js

src/app/styl/views/notification.styl

src/app/styl/views/fonts.styl

src/app/styl/views/browser/list.styl

src/app/settings.js

src/app/lib/subtitle/opensubtitles.js

src/app/lib/streamer.js

src/app/lib/providers/yts.js

src/app/lib/providers/opensubtitles.js

src/app/lib/providers/eztv.js

src/app/fonts/OpenSans-Semibold.woff

src/app/fonts/OpenSans-Regular.woff

src/app/fonts/OpenSans-Bold.woff

src/app/database.js
